{{define "users/index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>users/index</title>
{{/*    说明：这里的xxx表示在r.Static中定义的名字*/}}
    <link rel="stylesheet" href="/xxx/index.css">
</head>
<body>
{{.title}}
</body>
</html>
{{end}}